<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />

    <title>MontréHack</title>
  </head>

  <body>

    <!-- fork me on github banner -->
    <a href="https://github.com/montrehack/montrehack.github.com/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

    <header>
      <div class="container">
        <h1><a href="/">MontréHack</a></h1>
        <h2>S'entraîner a résoudre des exercices de sécurité informatique de type «Capture The Flag» (CTF)</h2>
        <h2>Training together on InfoSec Capture The Flag (CTF)</h2>
        <p>3e lundi du mois <a href="http://notman.org/">à Notman</a>
        <br/>
        3rd monday of the month <a href="http://notman.org/">at Notman</a></p>
        <section id="badges">
          <a href="intro.html">What is montrehack? (slides)</a>
          <br/>
          <a href="https://twitter.com/montrehack" class="btn twitter-follow-button"
            data-show-count="false" data-lang="en" data-dnt="true">@montrehack</a>
          <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          |
          <a href="https://groups.google.com/group/montrehack">Mailing list</a>
          |
          <a href="archives.html">Archives</a>
          |
          <a href="https://www.google.com/calendar/embed?title=Montr%C3%A9hack%20upcoming&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&mode=AGENDA&wkst=1&src=q9egcouogah1aaanrjrq0pfu3k%40group.calendar.google.com&ctz=America/Montreal">Calendar</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
      	{{ content }}
      </section>
    </div>

    {% include analytics.html %}

  </body>
</html>
