<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/images/montrehack-icon.svg" type="image/svg+xml">

    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>{{ page.title }}</title>

    <meta property="og:title" content="{{ page.title }}" />
    <meta name="twitter:site" content="@montrehack" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />

    {% if page.summary %}
    <meta name="twitter:description" content="{{ page.summary }}">
    <meta property="og:description" content="{{ page.summary }}" />
    {% else %}
    <meta name="twitter:description" content="Monthly Capture-The-Flag Solving and Cybersecurity Workshop">
    <meta property="og:description" content="Monthly Capture-The-Flag Solving and Cybersecurity Workshop" />
    {% endif %}

    {% if page.featured_img %}
    <meta name="twitter:card"  content="summary_large_image">
    <meta name="twitter:image" content="{{ page.featured_img | absolute_url }}">
    <meta property="og:image" content="{{ page.featured_img | absolute_url }}" />
    <meta property="og:image:alt" content="{{ page.featured_img_alt }}" />
    {% else %}
    <meta name="twitter:card"  content="summary">
    <meta name="twitter:image" content="{{ site.logo_twittercard | absolute_url }}">
    <meta property="og:image" content="{{ site.logo_opengraph | absolute_url }}" />
    <meta property="og:image:alt" content="The MontréHack Logo" />
    {% endif %}

  </head>

  <body>

    <header>
      <div class="container">
        <a href="/"><img src="{{ site.logo | absolute_url }}" alt="MontréHack"/></a>
        <h2>Monthly Capture-The-Flag Solving and Cybersecurity Workshop</h2>
        <h2>Atelier mensuel de résolution de Capture-The-Flag et de Cybersécurité</h2>
        <p>Third Wednesday of the month
        <br/>
        Troisième mercredi du mois</p>
        <section id="badges">
          <p>
            Participate:
            <a href="https://twitch.tv/montrehack"><i class="fab fa-2x fa-twitch"></i></a>
            <a href="https://discord.gg/4qfFwPX"><i class="fab fa-2x fa-discord"></i></a>
            <a href="https://github.com/montrehack"><i class="fab fa-2x fa-github"></i></a>
            Subscribe:
            <a href="https://groups.google.com/group/montrehack"><i class="far fa-2x fa-envelope"></i></a>
            <a href="https://www.google.com/calendar/embed?title=Montr%C3%A9hack%20upcoming&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&mode=AGENDA&wkst=1&src=q9egcouogah1aaanrjrq0pfu3k%40group.calendar.google.com&ctz=America/Montreal"><i class="far fa-2x fa-calendar"></i></a>
            <a href="https://twitter.com/montrehack"><i class="fab fa-2x fa-twitter"></i></a>
            <a href="https://www.facebook.com/montrehack"><i class="fab fa-2x fa-facebook-square"></i></a>
            <a href="https://www.linkedin.com/company/montrehack"><i class="fab fa-2x fa-linkedin"></i></a>
          </p>
          <p>
            Archives:
            <a href="/archives.html">Web</a>
            <a href="https://www.youtube.com/channel/UC_HJ16vcipCQTwI2wRvNZuQ"><i class="fab fa-2x fa-youtube"></i></a>
            | <a href="/resources.html">Learning Resources</a>
          </p>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
      	{{ content }}
      </section>
    </div>

    {% include analytics.html %}

  </body>
</html>
