name: Build website

on:
  - pull_request

jobs:
  build-site:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build
      uses: helaili/jekyll-action@v2
      with:
        build_only: true
        target_branch: master
        jekyll_build_options: "--destination _site/"
    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: website
        path: _site/
    - name: Screenshot Website
      uses: res260/jekyll-screenshot-github-action@master
    - name: Upload Screenshot
      uses: actions/upload-artifact@v1
      with:
       name: screenshot
       path: /home/runner/work/_temp/_github_home/screenshot.png
